body {
    display: grid;
    grid-template-columns: 420px 420px;
    grid-template-rows: auto
}

#websiteHeading {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
}

#websiteTitle {
    font-family: sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

#firstColumn {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

#secondColumn {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    margin-left: 5px;
}

.formSection {
    width: 400px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5px;

}

.formSectionHeader {
    border: 1px solid black;
    width: 400px;
    background-color: gray;
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price {
    text-align: right;
    padding-right: 5px;
}

.optionDescription {
    font-size: 8pt;
    list-style-type: disc;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#CalculateTotal {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}

#TotalPrice {
    width: 200px;
}

.formSectionTable {
    padding-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
}

#displayCarPhoto {
    float: right;
}
