img {
    float: left;
    width: 360px;
    border: 7px solid red;
    padding: 10px;
    margin-right: 15px;
}

body{
    font-family: sans-serif;
}

span.Stanford{
    font-weight: bold;
    color: red;
}

ul{
    list-style-type: circle;
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}

h1{
    text-align: center;
}

/* Unvisited link */
a:link{
    text-decoration: none;
    color: blue;
}

/*Visited Link*/
a:visited{
    color: purple;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

a:active{
    background-color: gainsboro;
}
